<div id="<%= dom_id coin %>">
  <p>
    <strong> <%= Coin.human_attribute_name(:description)%>: </strong>
    <%= coin.description %>
  </p>

  <p>
    <strong><%= Coin.human_attribute_name(:acronym)%>: </strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong><%= Coin.human_attribute_name(:url_image)%>: </strong>
    <%= image_tag coin.url_image, width: 25, style: "display: flex" %>
  </p>

</div>
