<p style="color: green"><%= notice %></p>

<%= data_br(Date.today) %>
<p>
  <strong><%= @meu_nome%></strong>
</p>

<h1>Moedas</h1>

<div id="coins">
  <% @coins.each do |coin| %>
    <%= render coin %>
    <p>
      <%= link_to "Mostrar", coin %>
      <%= button_to "Deletar", @coin, method: :delete %>
    </p>
  <% end %>
</div>

<%= link_to "Nova moeda", new_coin_path %>
