<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to "Editar", edit_coin_path(@coin) %> |
  <%= link_to "Voltar", coins_path %>

  <%= button_to "Deletar", @coin, method: :delete %>
</div>
