<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to t("links.edit"), edit_coin_path(@coin) %> |
  <%= link_to "Voltar", coins_path %>

  <%= button_to t("links.delete"), @coin, method: :delete %>
</div>
 