<div id="<%= dom_id mining_type %>">
  <p>
    <strong><%= MiningType.human_attribute_name(:description) %>: </strong>
    <%= mining_type.description %>
  </p>

  <p>
    <strong><%= MiningType.human_attribute_name(:acronym) %>: </strong>
    <%= mining_type.acronym %>
  </p>

</div>
